*{margin: 0px; padding: 0px; font-size: 10px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; list-style-type: none; text-decoration: none;}

body{
    background: #fff url(../media/bg.png);
    margin: 15px;
}
#container{
    background:#ede9cc url(../media/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

/*I/Area do Cabeçalho*/
#topo{
    height: 24.6em;
    min-height: 250px;
    position:relative;
}

/*I/Logo*/
#logo-area{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: url(../media/topo-imagem-principal.png) no-repeat;
}
.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 151px;
    height: 66px;
    z-index: 3;
    text-indent: -9000px;
    background: url(../media/logo.png) no-repeat;
}
/*F-Logo*/
/*I-Area de menus*/
#menu-area{
    position:absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 250px;
    background: url(../media/topo-imagem-lateral.png);
}
#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top:15px;
}

/*I-Menu-reservas*/
#menu-locais{
    width: 335px;
    padding: 5px 0;
    border-top:1px solid rgb(128, 128, 128, 0.6);
    border-bottom: 1px solid rgb(128, 128, 128, 0.6);
}
#menu-locais ul li a{
    color: #7d7640;
    float: left;
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
    transition: 0.25s;
}
#menu-locais ul li a:hover{
    font-size: 1.2em;
    font-weight: 500;
    color: #49441c;
}
#menu-locais #second-child a{
    border-left: 1px solid rgba(128, 128, 128, 0.7);
    border-right: 1px solid rgba(128, 128, 128, 0.7);
}
#menu-locais button{
    margin-left: 20px;
    border: none;
    padding: 5px;
    outline:none;
    background: #af9f25;
    transition: 0.25s;
}
#menu-locais button:hover{
    padding: 5px 7px;
    background: #ffe945;
}
#menu-locais button a{
    font-size: 1.3em;
    padding: 5px;
    font-weight: 500;
    color: white;
}
#menu-locais button a:hover{
    color: rgb(0, 0, 0);
}
.selected{
    font-size: 1.3em;
    font-weight: 500;
}
/*F-Menu-reservas*/

/*I-navegação*/
#menu{
    margin-top: 15px;
}
#navegacao ul{
    float: left;
}
#navegacao ul a{
    text-transform: uppercase;
    font-size: 1.6em;
    line-height: 30px;
    color: #6e672c;
    transition: 0.25s;
}
#navegacao ul a:hover{
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 7px 4px;
}
.depoimento{
    float: right;
    width: 220px;
    height: 164px;
}
/*F-navegação*/

/*F-Area de menus*/

/*F/Area do Cabeçalho*/

/*I-Area de conteudo*/
#area-principal{
    float: left;
    width: 50%;
    padding: 15px 0px;
    background: url(../media/bg-area-principal.png) left top repeat-x;
}
#area-principal h2{
    padding-bottom: 5px;
    color: #af9f25;
    font-size: 2.5em;
    font-weight: 500;
}
#area-principal p{
    font-size: 1.5em;
    padding: 5px 0;
    text-align: justify;
}
#area-lateral{
    float: right;
    width: 50%;
    padding: 15px 0px;
    background: url(../media/bg-area-lateral.png) left top repeat-x;
}
.conteudo{
    margin: 0 auto;
    width: 90%;
}
    /*I-artigos*/
.previa{
    padding: 30px 0;
    border-bottom: 2px solid #ede9cc;
    line-height: 80px;
    transition: 0.25s;
    cursor: pointer;
}
.previa a{text-decoration: none;}
.previa:hover{
    background: #ede9cc;
}
.previa img{
    width: 160px;
    float: left;
    margin-right: 20px;
}
.previa h2{
    font-size: 2.5em;
    color: #7d7640;
    line-height: 60px;
    margin-left: 15px;
    margin-top: -15px;
    background: url(../media/ornamento.png) no-repeat center right;
}
.previa p{
    font-size:1.6em;
    font-weight: 500;
    line-height: 25px;
    padding-left: 10px;
}
.previa a{
    color: #000000;
}
    /*F-artigos*/
/*F-Area de conteudo*/

/*I-Rodape*/
footer{
    clear:both;
    text-align: center;
    padding:16px;
    background: #fff url(../media/bg-rodape.png) repeat-x top;
    color: #7d7640;
    padding-top: 41px;
}
footer span{
    font-size: 2.0em;
    font-weight: 600;
}
footer span a{
    color: #978f50;
    font-size: 1em;
    font-weight: 600;
    transition: 0.25s;
}
footer span a:hover{
    color: #000000;
}
/*F*rodape*/

/*******Area filiados********/

#container-locais, #container-pg{
    background:#ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}
#area-filiais, #container-pg section{
    margin: 0 auto;
    width: 920px;
}
#area-filiais div:first-of-type{
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
}
#area-filiais div.sl{
    border: none;}
#area-filiais div p{
    text-align: left;
    font-size: 1.5em;
    padding: 5px;
}
#area-filiais h1{
    font-size: 3em;
    padding: 15px 0;
}
#area-filiais p a,#area-filiais p a:visited{
    font-size: 1.6em;
    font-weight: 600;
    color: #313131;
    transition: 0.25s;
}
#area-filiais p a:hover, #area-filiais p a:visited:hover{
    color: #000000;
}
#area-filiais div img{
    width: 920px;
    margin:20px 0;
    transition: 0.1s;
}
#area-filiais div img:hover{
    width: 921px;
}

/*******Area outras pagina********/
#navegacao .selecionado a{
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 7px 4px;
}

#container-pg section img{
    width: 920px;
    padding: 20px 0;
}

#container-pg section h1{
    font-size: 4em;
    padding: 20px 0;
}

#container-pg section p{
    text-align:justify;
    font-size:1.8em;
    padding: 15px 0;
}

#container-pg section a, #container-pg section a:visited{
    font-size: 2em;
    font-weight: 600;
    color: black;
}
#container-pg section div h1, #container-pg section div a{
    font-size:1.8em;
    padding:10px;
}
#container-pg section div{
    margin-bottom: 35px;
}

/** Area de reserva **/

#container-reserva{
    background:#ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#formulario form{
    width: 1180px;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

#formulario form div{
    margin: 0 auto;
}

#formulario form input{
    border:none;
    outline:none;
    margin:10px 0;
    padding: 5px;
}

#formulario form label{
    font-size: 1.8em;
}

#formulario form #clientes{
    display: flex;
    flex-direction: column;
    width: 720px;
}

#formulario form div .nomes{
    display:flex;
    flex-direction:row;
    padding: 5px 0;
    margin: 0 0;
}

#formulario form div .nomes input{
    width: 250px;
    height: 15px;
    margin: 0 10px;
 }

 #formulario form div .idc, #formulario form div .contato{
    display:flex;
    flex-direction:row;
    padding: 5px 0;
    margin: 0 0;
}

#formulario form div .idc input, #formulario form div .contato input{
    width: 240px;
    height: 15px;
    margin: 0 10px;
 }

 #formulario form div .contato #tel{
    width: 170px;
    height: 15px;
    margin: 0 10px;
 }

/*area do hotel/pagamento*/

#formulario form #hotel{
    display: flex;
    flex-direction: column;
    width: 720px;
}

#formulario form #hotel .fp{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding:;
    margin: 0 0 10px;
}

#formulario form #hotel .fp #pessoas, #formulario form #hotel .fp label{
    margin: 0 8px 0 8px;
}

#formulario form #hotel .fp .m-none{
    margin-left: 0px;
}

#formulario form #hotel .md{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 20px;
    margin: 0 0;
}

#formulario form #hotel .md input{
    margin: 0 0 0 8px;
    padding: 0 10px;
}

#formulario form #hotel .md #t-quarto{
    margin-right: 10px;
}

/****Pagamentos****/

#formulario form #hotel h1{
    font-size: 2.5em;
    margin: 10px 0;
}

#formulario form #hotel #b-card{
    width: 300px;
}

#formulario form #hotel #m-pag{
    margin: 10px 0;
}

#formulario form #hotel .n-d{
    margin: 0px;
}
#formulario form #hotel .n-d input, #formulario form #hotel .n-d label{
    margin-right: 10px;
}

#formulario form #hotel #n-titular{
    width: 200px;
    margin: 5px 0px;
}

#formulario form #hotel #n-titular input{ 
    margin: 5px 0px;
}